.Section_Wrap {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    z-index: 1;
}

.Section_ItemText {
    padding-top: 15vh;
    text-align: center;
    padding-bottom: 400px;
}

.Section_Reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.Section_Reveal.active {
    transform: translateY(0);
    opacity: 1;
}

* .Section_ButtonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Section_Button {
    height: 40px;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 12px;
    cursor: pointer;
    margin: 8px;
}

.Section_LeftButton {
    background-color: rgba(23, 26, 32, 0.8);
    color: white;
}

.Section_RightButton {
    background-color: white;
    color: black;
    opacity: 0.6;
}

@media (max-width: 768px) {
    .Section_ButtonGroup {
        flex-direction: column;
    }
}