* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gotham SSm", "PingFang TC", "Microsoft YaHei";
  color: #393c41;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}